<header>
        
        <div class="landing">
            <div class="call-action vertical-center">
                <h2 class="" style="height: 100%;"><span class="highlight">JOIN US</span> AND & EXPLORE THOUSANDS OF JOBS</h2>
                <h4>Find Jobs, Employement & Career Opportunities</h4>
                
                <div class="call-action-selector">
                    <button class="btn btn-light">Search job</button>
                    <button class="btn btn-info">Search Candidate</button>
                </div>
                <div class="job-search">
                    <form class="form row">
                        
                        <div class="form-group m-2 col-sm">
                                <input type="text" class="form-control" placeholder="Keyword e.g.(Job Title, Description, Tags)">
                        </div>
    
                        <div class="form-group m-2 col-sm">
                            <select class="form-control" id="sel1">
                                    <option>Select Location</option>
                            </select>
                        </div>
    
                        <div class="form-group m-2 col-sm">
                            <select class="form-control" id="sel1">
                                    <option>Experience</option>
                            </select>
                        </div>
    
                        <div class="form-group m-2 col-sm">
                            <button [routerLink]="'/jobs'" class="btn btn-info"><i class="fas fa-search"></i> Search</button>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    
        
    </header>
    
    <div class="job-categories container">
            <div class="row">
                <div class="col-sm">
                    <i class="fas fa-code fa-3x"></i>
                    <div>Developer</div>
                </div>
                <div class="col-sm">
                    <i class="fas fa-tv fa-3x"></i>
                    <div>Technology</div>
                </div>
                <div class="col-sm">
                        <i class="fas fa-chart-bar fa-3x"></i>
                    <div>Accounting</div>
                </div>
    
                <div class="col-sm">
                    <i class="fas fa-briefcase-medical fa-3x"></i>
                    <div>Medical</div>
                </div>
    
    
                <div class="col-sm">
                    <i class="fas fa-briefcase-medical fa-3x"></i>
                    <div>Government</div>
                </div>
    
    
                <div class="col-sm">
                    <i class="fas fa-th-large fa-3x"></i>
                    <div>All jobs</div>
                </div>
    
            </div>
    
    </div>
    
    
    
    
    